@{
    ViewBag.Title = "Lock ^_^";
}
@using System.Collections.Generic

@section css{  
    <link href="@Url.Content("~/Content/layer-v2.4/layer/skin/layer.css")" rel="stylesheet" />
    @Styles.Render( "~/HPlusjqGridcss", "~/datepickercss")

}

@section scripts{
    @Scripts.Render( "~/HPlusjqGridjs", "~/layerjs", "~/jshelper", "~/datepickerjs")

    <script type="text/javascript">

    $.jgrid.defaults.width = 780;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';

    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            url : '@Url.Action("Load", "Lock" ,new { area = ""})',
            datatype: "json",
            //data: mydata,
            height: 450,
            autowidth: true,
            multiselect : true,
            multiboxonly: true,
            rownumbers: true,//是否显示行号。true：显示
            rownumWidth: 25,// 行号所在列的宽度
            //width: 'auto',
            colModel: [
 				    { label: '名称', name: 'Name', width: 180, height: 300 },
 				    { label: '备注', name: 'Prompt', width: 300 },
 				    { label: '添加时间', name: 'InsertTimestr', width: 180 },
 				    { label: '核验次数', name: 'CheckCount', width: 80 },
 				    { label: '修改次数', name: 'EditCount', width: 80 },
            ],
            loadComplete: function (d) {
                $(this).data('fulldata', d.rows) // 存储从服务器端获取的原始数据 
            },
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            caption: " ",
            sortable: false,
            rowNum: 10,  // 每行显示列数
            rowList: [10, 50, 100], // 行数切换
            pager: "#jqGridPager"
        });
    });

    function formatImage(cellValue, options, rowObject) {
        var imageHtml = "<img src='images/" + cellValue + "' originalValue='" + cellValue + "' />";
        return imageHtml;
    }
    function unformatImage(cellValue, options, cellObject) {
        return $(cellObject.html()).attr("originalValue");
    }
    </script>  <!-- 数据表绑定 -->


<script type="text/javascript">

    $(function () {

    });
    // 验证密文
    function checkContent() {
        var row = getSelRow();
        var data = { Id: row.Id, Content: $('#txtCkContent').val() };
            $.post('@Url.Action("Check", "Lock", new { area = "" })', data, function (r) {
                layer.msg(r == "1" ? "匹配成功" : "匹配失败", { time: 1000, icon: parseInt(r) });
            }); 
        }

    // 绑定 时间框
    $("#data_gctime.input-daterange").datepicker({
        keyboardNavigation: !1,
        forceParse: !1,
        autoclose: !0
    });

    // 查询
    function searchdata() {
        var data =  getJsonObjectByForm("#fmcondition", true);
        $("#jqGrid").setGridParam({ postData: data }).trigger("reloadGrid");
    }
    // 清空查询
    function searchclear() {
        var data = $("#jqGrid").getGridParam('postData');
        data = clearJsonObject(data, $("#jqGrid").getGridParam('prmNames'));
        $("#jqGrid").setGridParam({ postData: data }).trigger("reloadGrid");
        clearFormElements("#fmcondition"); // 清空查询条件表单

        //clearFormElement("#fmcondition"); // 清空表单元素
        //getJsonObjectByForm("#fmcondition");
    }

    // 删除
    function deletedata() {

        var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
        if (selectedId == null) { // 未选中
            layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
            return false;
        }

        layer.confirm('确定删除', { icon: 0, title: '警告' }, function (index) {
            layer.close(index);
            //修改 初始化表单数据
            var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
            $.ajaxSetup({ async: false });
            $.post('@Url.Action("DeleteGenrmsg", "Messagemng")', { id: rowData.GmgID }, function (r) {
                if (r.state == 0) {
                    layer.msg('删除失败', { time: 1000, icon: 1 });
                    return; // 保存失败
                }
                searchdata();
                layer.msg('删除成功', { time: 1000, icon: 1 });
            });
            $.ajaxSetup({ async: true });
        });

    }

    // 保存
    function savedata() {
        var data = getJsonObjectByForm("#fmdata");
        var state = 0;
        $.ajaxSetup({ async: false });
        $.post('@Url.Action("SaveGenrmsg", "Messagemng")', { data: JSON.stringify(data) }, function (r) {
            state = r.state;
            if (r.state == 0) {
                layer.msg('保存失败', { time: 1000, icon: 1 });
                return; // 保存失败
            }

            //cancel();
            searchdata(); // 重新查询数据
            layer.msg('保存成功', { time: 1000, icon: 1 });
        });
        $.ajaxSetup({ async: true });
        return state;
    }
    //弹出一个页面层
    function editdata(type) {
        if (type == 1) { // 添加
            clearFormElements('#fmdata')// 清空表单
            $('#hiddataid').val('-1'); // 添加赋值id为-1区分修改
            //$('#sldat-Country').val('中国大陆').change();
        } else if (type == 2) { // 修改
            var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
            // $("#jqGrid").jqGrid("getGridParam", "selarrrow") // 多行选中数据
            if (selectedId == null) { // 未选中
                layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
                return false;
            }
            //修改 初始化表单数据
            var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
            console.log(rowData);
            setFromElements($('#dvDialog').find('[data-type=fmdata]'), rowData);
        }

        layer.open({
            type: 1, title: ' ',
            area: ['900px', '450px'],
            //shadeClose: true, //点击遮罩关闭
            //content: '\<\div style="padding:20px;">自定义内容\<\/div>'
            content: $('#dvDialog'),
            success: function (layero, index) {
            },
            btn: ['确定', '取消']
            , yes: function (index, layero) {
                //确定 的回调

                if (savedata() != 0) {
                    layer.close(index); //需进行手工关闭
                }
            }
            , cancel: function (index) {
                clearFormElements('#fmdata')// 清空表单
            }
            , btn2: function (index, layero) {
                clearFormElements('#fmdata')// 清空表单
            }

        });
        //$('#dvDialog').attr('class', 'show');

    }

    // 获取单行数据
    function getSelRow() {
        var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
        // $("#jqGrid").jqGrid("getGridParam", "selarrrow") // 多行选中数据
        if (selectedId == null) { // 未选中
            layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
            return null;
        }
        //修改 初始化表单数据
        var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
        return rowData;
    }

    // 获取多行选中数据
    function getSelArrRow() {
        var selarrid  =  $("#jqGrid").jqGrid("getGridParam", "selarrrow")
        return $.map( $("#jqGrid").data("fulldata"), function(v,k){
            if(selarrid.indexOf((k+1).toString()) != -1 )    return v;
        } )
    }

    // 审核通过
    function approveone(state) {
        var data = getSelRow();
        if (data == null) return;

        data['AMEAuditStatus'] = state;
        $.ajaxSetup({ async: false });
        $.post('@Url.Action("SaveGenrmsg", "Messagemng")', { data: JSON.stringify(data) }, function (r) {
            state = r.state;
            if (r.state == 0) {
                layer.msg('操作失败', { time: 1000, icon: 1 });
                return; // 保存失败
            }
            layer.msg('操作成功', { time: 1000, icon: 1 });
            searchdata(); // 重新查询数据
        });
        $.ajaxSetup({ async: true });

    }

</script>  <!-- 其他渲染 -->
}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div >
                    <form id="fmcondition" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="名称 / 备注" style="width:120px;">
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <label for="slGmgSenderType" class="btn btn-lable">核验次数</label>
                                </span>
                                <select id="slGmgSenderType" class="form-control" name="GmgSenderType" style="width:100px;">
                                    <option value="">请选择</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <label for="slAMEAuditStatus"  class="btn btn-lable">审核状态</label>
                                </span>
                                <select id="slAMEAuditStatus" class="form-control" name="AMEAuditStatus" style="width:120px;">
                                    <option value="">请选择</option>
                                    <option value="0">待审核</option>
                                    <option value="1">审核通过</option>
                                    <option value="2">审核不通过</option>
                                </select>
                            </div> 
                        </div>


                        <div class="form-group input-daterange"  id="data_gctime">
                            <div class="input-group">
                                
                                <input type="text" name="GmgCreateTimeStart" class="form-control" placeholder="开始时间" readonly="readonly" style="width:120px;">
                                <span class="input-group-btn">
                                    <label for="GmgCreateTimeEnd" class="btn btn-lable">至</label>
                                </span>
                                <input type="text" name="GmgCreateTimeEnd" class="form-control" placeholder="结束时间" readonly="readonly" style="width:120px;">

                            </div>
                        </div>


                        @*<div class="form-group input-daterange " id="data_gctime">
                            <label class="control-label">：</label>
                            
                            <label class="control-label"> </label>
                            </div>*@
                        @*<br /><br />
                        <input class="btn btn-warning" onclick="searchclear()" type="button" value="清空" style="width:80px;">
                        <input class="btn btn-primary" onclick="searchdata()" type="button" value="查询" style="width:80px;">
                        <input class="btn btn-primary" onclick="editdata(1)" type="button" value="添加" style="width:80px;">
                        <input class="btn btn-primary" onclick="editdata(2)" type="button" value="修改" style="width:80px;">
                        <input class="btn btn-primary" onclick="deletedata()" type="button" value="删除" style="width:80px;">
                        <input class="btn btn-primary" onclick="approveone(1)" type="button" value="审核通过" style="width:100px;">
                        <input class="btn btn-primary" onclick="approveone(2)" type="button" value="审核不通过" style="width:100px;">*@
                    </form>
                    <form class="form-inline"></form>
                    <div class="clearfix"></div>
                </div>  <!-- 搜索条件 -->

            </div> 
            <div class="ibox-title ibox-title-bottom">
                <div class="row ">
                    <div class="col-md-3">

                        <div class="input-group">
                            <input id="txtCkContent" type="password" name="url" placeholder="输入想不起来的密文" class="input-sm form-control"> <span class="input-group-btn">
                                <button type="button" onclick="checkContent()" class="btn btn-sm btn-primary"> 验证</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <a class="btn btn-info" onclick="editdata(2)">
                                <span>验证</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="searchclear()">
                                <span>清空</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="searchdata()">
                                <span>查询</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="editdata(1)">
                                <span>添加</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="editdata(2)">
                                <span>修改</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="deletedata()">
                                <span>删除</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="approveone(1)">
                                <span>审核通过</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="btn btn-info" onclick="approveone(2)">
                                <span>审核不通过</span>
                                <i class="fa fa-wrench"></i>
                            </a>
                             
                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="ibox-tools">

                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>

                    </div>
                </div>

                @*<div class="pull-left">
                    <div class="">
                    </div>
                </div>*@

            </div>
        </div>
    </div>
</div> <!-- 搜索条件 -->

<div style="padding:10px;background-color:white">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>  <!-- 数据表 -->
<div id="dvDialog" style="display: none;">
    <form id="fmdata" data-type="fmdata" style="padding: 0 20px; "> 
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtName">名称</label>
                <input type="text" class="form-control" id="txtName" name="Name">
            </div>
            <div class="col-sm-6 form-group">
                <label for="txtPrompt">备注</label>
                <input type="text" class="form-control" id="txtPrompt" name="Prompt">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txt密文">密码</label>
                <input type="text" class="form-control" id="txtContent" name="Content">
            </div>
            <div class="col-sm-6 form-group">
                <label for="txtInsertTimestr">添加时间</label>
                <input type="text" class="form-control" id="txtInsertTimestr" name="InsertTimestr">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtCheckCount">核验次数</label>
                <input type="text" class="form-control" id="txtCheckCount" name="CheckCount">
            </div>
            <div class="col-sm-6 form-group">
                <label for="txtEditCount">修改次数</label>
                <input type="text" class="form-control" id="txtEditCount" name="EditCount">
            </div>
        </div> 



        <input type="hidden" name="GmgID" id="hiddataid" />
    </form>
</div>  <!-- 编辑窗 -->
