@{
    ViewBag.Title = "Lock ^o^";
}
@using System.Collections.Generic

@section css{  
    <link href="@Url.Content("~/Content/layer-v2.4/layer/skin/layer.css")" rel="stylesheet" />
    @Styles.Render( "~/HPlusjqGridcss", "~/datepickercss")

}

@section scripts{
    @Scripts.Render( "~/HPlusjqGridjs", "~/layerjs", "~/jshelper", "~/datepickerjs")

    <script type="text/javascript">

    $.jgrid.defaults.width = 780;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.styleUI = 'Bootstrap';

    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            url : '@Url.Action("Load", "Lock" ,new { area = ""})',
            datatype: "json",
            //data: mydata,
            //width: 'auto',
            height: 'auto',//450,
            autowidth: true,
            multiselect : true,
            multiboxonly: true,
            rownumbers: true,//是否显示行号。true：显示
            rownumWidth: 25,// 行号所在列的宽度
            colModel: [
 				    { label: '名称', name: 'Name', width: 180, height: 300 },
 				    { label: '备注', name: 'Prompt', width: 300 },
 				    { label: '添加时间', name: 'InsertTimestr', width: 180 },
 				    { label: '核验次数', name: 'CheckCount', width: 80 },
 				    { label: '修改次数', name: 'EditCount', width: 80 },
            ],
            loadComplete: function (d) {
                $(this).data('fulldata', d.rows) // 存储从服务器端获取的原始数据 
            },
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            caption: "Lock ^o^",
            sortable: false,
            rowNum: 10,  // 每行显示列数
            rowList: [10, 50, 100], // 行数切换
            pager: "#jqGridPager"
        });
    });

    function formatImage(cellValue, options, rowObject) {
        var imageHtml = "<img src='images/" + cellValue + "' originalValue='" + cellValue + "' />";
        return imageHtml;
    }
    function unformatImage(cellValue, options, cellObject) {
        return $(cellObject.html()).attr("originalValue");
    }
    </script>  <!-- 数据表绑定 -->


<script type="text/javascript">

    $(function () {

    });
    // 验证密文
    function checkContent() {
        var row = getSelRow();
        var data = { Id: row.Id, Content: $('#txtCkContent').val() };
            $.post('@Url.Action("Check", "Lock", new { area = "" })', data, function (r) {
                layer.msg(r == "1" ? "匹配成功" : "匹配失败", { time: 1000, icon: parseInt(r) });
            });
        }

    // 绑定 时间框
    $("#data_gctime.input-daterange").datepicker({
        keyboardNavigation: !1,
        forceParse: !1,
        autoclose: !0
    });

    // 查询
    function searchdata() {
        var data =  getJsonObjectByForm("#fmcondition", true);
        $("#jqGrid").setGridParam({ postData: data }).trigger("reloadGrid");
    }
    // 清空查询
    function searchclear() {
        var data = $("#jqGrid").getGridParam('postData');
        data = clearJsonObject(data, $("#jqGrid").getGridParam('prmNames'));
        $("#jqGrid").setGridParam({ postData: data }).trigger("reloadGrid");
        clearFormElements("#fmcondition"); // 清空查询条件表单

        //clearFormElement("#fmcondition"); // 清空表单元素
        //getJsonObjectByForm("#fmcondition");
    }

    // 删除
    function deletedata() {

        var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
        if (selectedId == null) { // 未选中
            layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
            return false;
        }

        layer.confirm('确定删除', { icon: 0, title: '警告' }, function (index) {
            layer.close(index);
            //修改 初始化表单数据
            var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
            $.ajaxSetup({ async: false });
            $.post('@Url.Action("Delete", "Lock",new { area = ""})', { Id: rowData.Id }, function (r) {
                if (r == "1") {
                    searchdata();
                    layer.msg('删除成功', { time: 1000, icon: 1 });
                    return; 
                }
                layer.msg('删除失败', { time: 1000, icon: 0 });
            });
            $.ajaxSetup({ async: true });
        });

    }

    // 保存
    function savedata() {
        var data = getJsonObjectByForm("#fmdata");
        // 验证

        if (data.Name == '') { layer.msg('名称不能为空', { time: 1000, icon: 0 }); return false; }
        if (data.Content == '') { layer.msg('秘钥不能为空', { time: 1000, icon: 0 }); return false; }
        if (data.Prompt == '') { layer.msg('备注不能为空', { time: 1000, icon: 0 }); return false; }
        if (data.Content != data.Content2) {
            layer.msg('两次输入秘钥不相同', { time: 1000, icon: 0 });
            return false;
        }
        console.log(data);
        var state = 0;
        $.ajaxSetup({ async: false });
        $.post('@Url.Action("AddUpdate", "Lock",new { area = ""})', data, function (r) {
            if (r == "1") {
                layer.msg('保存成功', { time: 1000, icon: 1 });
            }
            else if (r == "0") layer.msg("保存失败", { time: 1000, icon: 0 })
            else if (r == "-1") layer.msg("旧内容不真确", { time: 1000, icon: 0 });

            //cancel();
            searchdata(); // 重新查询数据
            layer.msg('保存成功', { time: 1000, icon: 1 });
        });
        $.ajaxSetup({ async: true });
        return state;
    }
    //弹出一个页面层
    function editdata(type) {
        if (type == 1) { // 添加
            clearFormElements('#fmdata')// 清空表单
            $('#hiddataid').val('-1'); // 添加赋值id为-1区分修改
            $('#dvContentOld').addClass('hidden');
            //$('#sldat-Country').val('中国大陆').change();
        } else if (type == 2) { // 修改
            var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
            // $("#jqGrid").jqGrid("getGridParam", "selarrrow") // 多行选中数据
            if (selectedId == null) { // 未选中
                layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
                return false;
            }
            //修改 初始化表单数据
            var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
            console.log(rowData);
            $('#dvContentOld').removeClass('hidden');
            setFromElements($('#dvDialog').find('[data-type=fmdata]'), rowData);
        }

        layer.open({
            type: 1, title: ' ',
            area: ['80%', '85%'],// '900px', '450px'
            //shadeClose: true, //点击遮罩关闭
            //content: '\<\div style="padding:20px;">自定义内容\<\/div>'
            content: $('#dvDialog'),
            success: function (layero, index) {
            },
            btn: ['确定', '取消']
            , yes: function (index, layero) {
                //确定 的回调

                if (savedata() != 0) {
                    layer.close(index); //需进行手工关闭
                }
            }
            , cancel: function (index) {
                clearFormElements('#fmdata')// 清空表单
            }
            , btn2: function (index, layero) {
                clearFormElements('#fmdata')// 清空表单
            }

        });
        //$('#dvDialog').attr('class', 'show');

    }

    // 获取单行数据
    function getSelRow() {
        var selectedId = $("#jqGrid").jqGrid("getGridParam", "selrow");
        // $("#jqGrid").jqGrid("getGridParam", "selarrrow") // 多行选中数据
        if (selectedId == null) { // 未选中
            layer.msg('请选择一行数据！', { time: 1000, icon: 0 });
            return null;
        }
        //修改 初始化表单数据
        var rowData = $("#jqGrid").data("fulldata")[selectedId - 1];
        return rowData;
    }

    // 获取多行选中数据
    function getSelArrRow() {
        var selarrid  =  $("#jqGrid").jqGrid("getGridParam", "selarrrow")
        return $.map( $("#jqGrid").data("fulldata"), function(v,k){
            if(selarrid.indexOf((k+1).toString()) != -1 )    return v;
        } )
    }

    // 审核通过
    function approveone(state) {
        var data = getSelRow();
        if (data == null) return;

        data['AMEAuditStatus'] = state;
        $.ajaxSetup({ async: false });
        $.post('@Url.Action("SaveGenrmsg", "Messagemng")', { data: JSON.stringify(data) }, function (r) {
            state = r.state;
            if (r.state == 0) {
                layer.msg('操作失败', { time: 1000, icon: 1 });
                return; // 保存失败
            }
            layer.msg('操作成功', { time: 1000, icon: 1 });
            searchdata(); // 重新查询数据
        });
        $.ajaxSetup({ async: true });

    }

</script>  <!-- 其他渲染 -->
}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div >
                    <form id="fmcondition" >
                        

                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <input type="text" name="serh" class="form-control" placeholder="名称 / 备注">
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <label for="slGmgSenderType" class="btn btn-lable">核验次数</label>
                                        </span>
                                        <select id="slGmgSenderType" class="form-control" name="GmgSenderType">
                                            <option value="">请选择</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-xs-12 col-md-4 input-daterange" id="data_gctime">
                                    <div class="input-group">

                                        <input type="text" name="DateStart" class="form-control" placeholder="开始时间" readonly="readonly">
                                        <span class="input-group-btn">
                                            <label for="GmgCreateTimeEnd" class="btn btn-lable">至</label>
                                        </span>
                                        <input type="text" name="DateEnd" class="form-control" placeholder="结束时间" readonly="readonly">

                                    </div>
                                </div>

                            </div>



                         
                    </form>
                    <form class="form-inline"></form>
                    <div class="clearfix"></div>
                </div>  <!-- 搜索条件 -->

            </div> 
            <div class="ibox-title ibox-title-bottom">
                
                <div class="row ">

                    <div class="col-xs-7 col-md-3">
                        <div class="input-group">
                            <input id="txtCkContent" type="password" name="url" placeholder="输入想不起来的密文" class="input-sm form-control">
                            <span class="input-group-btn">
                                <button class="btn-sm btn btn-info btn-gp" onclick="checkContent()">验证 <i class="fa fa-spin fa-circle-o-notch"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-2">
                        <a class="btn btn-info" onclick="searchclear()">
                            <i class="fa fa-remove"> 清空</i>
                        </a>
                        <a class="btn btn-info" onclick="searchdata()">
                            <i class="fa fa-search"> 查询</i>
                        </a>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-xs-10 col-md-5">
                        <div class="form-group">
                            <a class="btn btn-info" onclick="editdata(1)">
                                <i class="fa fa-plus"> 添加</i>
                            </a>
                            <a class="btn btn-info" onclick="editdata(2)">
                                <i class="fa fa-edit"> 修改</i>
                            </a>
                            <a class="btn btn-info" onclick="deletedata()">
                                <i class="fa fa-trash"> 删除</i>
                            </a>
                            <a class="btn btn-info" onclick="approveone(1)">
                                <i class="fa fa-check-square-o"> 审核通过</i>
                            </a>

                        </div>
                    </div>

                    <div class="col-xs-2 col-md-2 ">
                        <div class="ibox-tools ">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>


                </div>

                

                @*<div class="pull-left">
                    <div class="">
                    </div>
                </div>*@

            </div>
        </div>
    </div>
</div> <!-- 搜索条件 -->

<div style="padding:10px;background-color:white">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>  <!-- 数据表 -->
<div id="dvDialog" style="display: none;">
    <form id="fmdata" data-type="fmdata" style="padding: 0 20px; "> 
         
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="input-group">
                    <span class="input-group-btn">
                        <label class="btn btn-lable" for="txtName"> 名&nbsp;&nbsp;&nbsp;&nbsp;称 </label>
                    </span>
                    <input type="text" class="form-control" id="txtName" name="Name">
                </div>
            </div>
            <div id="dvContentOld" class="col-sm-6 hidden">
                <div class="input-group">
                    <span class="input-group-btn">
                        <label class="btn btn-lable" for="txt密文">&nbsp;&nbsp;旧密钥</label>
                    </span>
                    <input type="password" class="form-control" id="txtContentOld" name="ContentOld">
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <label class="btn btn-lable" for="txtCheckCount">新密钥</label>
                    </span>
                    <input type="password" class="form-control" id="txtContent" name="Content">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                <span class="input-group-btn">
                    <label class="btn btn-lable" for="txtEditCount">确认密钥</label></span>
                <input type="password" class="form-control" name="Content2"> </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-btn full-height">
                        <label class="btn btn-lable full-height" for="txtPrompt">备<br/>注</label></span>
                    <textarea rows="5" class="form-control" id="txtPrompt" name="Prompt"></textarea>
                </div>
            </div>
        </div> 
        <div class="hr-line-dashed"></div>



        <input type="hidden" name="Id" id="hiddataid" />
    </form>
</div>  <!-- 编辑窗 -->
