@{
    ViewBag.Title = "主题";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{ 
    <link href="@Url.Content("~/Content/layer-v2.4/layer/skin/layer.css")" rel="stylesheet" />
    }
@section scripts{
    @Scripts.Render("~/layerjs", "~/jsrenderjs", "~/jshelper", "~/datepickerjs")
    
    <script id="tmpl_skinjs" type="text/x-jsrender">
    {{*}}
            {{for #data.serh}}
            @*{{:#index+1}} *@
            <tr>
                <td class="project-status">
                    <span class="label {{if #index == 0}} label-primary {{else}}label-default{{/if}}">{{:#index+1}}</span>
                </td>
                <td class="project-title">
                    <a href="#">{{:Name}}</a>
                    <br />
                    <small>创建于 {{:InsertDate}} - {{:Type}}</small>
                </td>
                <td class="project-skin">
                    <a href="#"><img alt="image"  class="img-rounded" src="{{:Value2}}"></a>
                </td>
                <td class="project-actions"> 
                    <input type="hidden" data-id="{{:Id}}" data-name="{{:Name}}" data-datetime="{{:InsertDate}}" data-url="{{:Value}}"/> 
                    <button onclick="removeskin(this)" class="btn btn-white btn-sm"><i class="fa fa-remove"></i> 移除 </button>
                    <button onclick="setskin(this)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 设置 </button>
                </td>
            </tr>

            {{/for}}
</script>

    <script type="text/javascript">
        function getskinjs() {
            $.getJSON("@Url.Action("getskin", "home", new { area = "admin" })", { type: $('#slbgtype').val() }, function (r) {
                var lplisthtml = $("#tmpl_skinjs").render({ serh: r });
                $('#dvbgset').empty().append(lplisthtml);
            });
        } 
         

        function addskin() {
            $('#btnaddskin').prop('disabled', true);
            var data = getJsonObjectByForm("#fmbgser");
            $.post('@Url.Action("addskin", "home", new { area="admin" })', data , function (r) {
                if (r == "0") {
                    layer.msg('添加失败', { time: 1000, icon: 0 });
                    return;
                }
                //data.datetime = r.datetime;
                //var lplisthtml = $("#tmpl_skinjs").render({ serh: data });
                //$('#dvbgset').append(lplisthtml);

                getskinjs();
                layer.msg('添加成功', { time: 1000, icon: 1 });
                $('#btnaddskin').prop('disabled', false);
                clearFormElements('#fmbgser')// 清空表单
            },'json');

        }
        function removeskin(e) {
            var $hid = $(e).prev();
             (function ($hid) {
                 $.post('@Url.Action("removeskin", "home", new { area="admin" })'
                     , { Id: $hid.data('id') }, function (r) {
                     if (r != "1") { layer.msg('删除失败', { time: 1000, icon: 0 }); return; }

                     getskinjs();
                     layer.msg('删除成功', { time: 1000, icon: 1 });
                 }, 'json');

             })($hid)

        }

        function setskin(e) {
            var $hid = $(e).prev().prev();
            (function ($hid) {
                $.post('@Url.Action("setskin", "home", new { area="admin" })'
                    , { Id: $hid.data('id') }, function (r) {
                    if (r != "1") { layer.msg('设置失败', { time: 1000, icon: 0 }); return; }
                    // 选中当前列到top1
                    //var curlab = $hid[0].parentElement.parentElement.children[0].children[0];
                    //var firstlab = $hid[0].parentElement.parentElement.parentElement.children[0].children[0].children[0];
                    //var curtxt = curlab.textContent;
                    //curlab.textContent = 1;
                    //firstlab.textContent = curtxt;
                    //$(curlab).addClass('label-primary');
                    //$(firstlab).removeClass('label-primary');
                    //$hid.parent().parent().parent().prepend($hid.parent().parent().remove());
                    getskinjs();
                    window.parent.document.body.style.backgroundImage = 'url('+ $hid.data('url') +')';
                    layer.msg('设置成功', { time: 1000, icon: 1 });
            },'json');

            })($hid)
        }

        function setuserimg() {
            $.post('@Url.Action("setuserimg", "home", new { area="admin" })'
                    , { img: $('#txtuserimg').val() }, function (r) {
                        if (r != "1") { layer.msg('设置失败', { time: 1000, icon: 0 }); return; }
                         
                        window.parent.document.getElementById('imguser').src = $('#txtuserimg').val();
                        $('#imguser').prop('src', $('#txtuserimg').val())
                        layer.msg('设置成功', { time: 1000, icon: 1 });
                    }, 'json');
        }

        //getskinjs();


    </script>

    

    }
 


<div class="row transparent-bg">
    <div class="col-sm-12">
        <div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        @*<div class="text-center float-e-margins p-md">
                            <span>主题设置</span> 
                        </div>*@
                        <div class="" id="ibox-content">

                            <div id="vertical-timeline" class="vertical-container light-timeline">

                                <div id="dvimguser" class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon lazur-bg">
                                        <i class="fa fa-user-md"></i>
                                    </div>

                                    <div class="vertical-timeline-content">
                                        <h2>头像</h2>
                                        <div class="hr-line-dashed"></div> 
                                            <div class="row m-b-sm m-t-sm">
                                                <div class="col-md-4">
                                                    <div class="  text-center">
                                                            <a href="#"><img alt="image" height="100" id="imguser" class="img-circle" src="@ViewBag.img"></a>
                                                    </div>
                                                </div>

                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="text" id="txtuserimg" name="img" placeholder="图片外链" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button type="button" onclick="setuserimg()" class="btn btn-sm btn-primary"> 导入</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> 

                                        <a href="#" class="btn btn-sm btn-info">更多</a>
                                        <span class="vertical-date"> 昨天 <br><small>2月2日</small></span>
                                    </div>
                                </div>

                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon navy-bg">
                                        <i class="fa fa-file-image-o"></i>
                                    </div>

                                    <div class="vertical-timeline-content ">
                                        <h2>背景 </h2>
                                        <div class="hr-line-dashed"></div>
                                        <div class="row">

                                            <span class="small">https://mini.site-shot.com/1024×768/200/png/?地址</span>
                                        <a class="btn btn-info" onclick="getskinjs()">
                                            <i class="fa fa-search"> 查询</i>
                                        </a></div>
                                        <form id="fmbgser"> <div class="row">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="input-sm form-control" placeholder="图标名称">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <label for="slbgtype" class="btn btn-lable">类型</label>
                                                        </span>
                                                        <select id="slbgtype" name="type" class="form-control" name="bgType"> 
                                                            <option value="bg">后台背景</option>
                                                            <option value="fobg">主页轮播</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-btn">
                                                            <label for="txthm" class="btn btn-lable">缩略图外链</label>
                                                        </span>
                                                        <input id="txthm" type="text" name="thm"
                                                               placeholder="https://mini.site-shot.com/1024×768/200/png/?地址" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input type="text" name="url" placeholder="图片外链" class="input-sm form-control"> <span class="input-group-btn">
                                                            <button id="btnaddskin" type="button" onclick="addskin()" class="btn btn-sm btn-primary"> 导入</button> 
                                                    </div>
                                                </div>
                                            </div>

                                        </div></form>
                                       

                                        <div  class="project-list">

                                            <table id="dvbgset" class="table table-hover">
                                                <tbody>
                                                    @*<table class="table table-hover"> 列表 </table>*@

                                                </tbody>
                                            </table>
                                        </div> 

                                        <a href="#" class="btn btn-sm btn-primary"> 更多信息</a>
                                        <span class="vertical-date">
                                            今天 <br>
                                            <small>2月3日</small>
                                        </span>
                                    </div>
                                </div>

                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon blue-bg">
                                        <i class="fa fa-file-text"></i>
                                    </div>

                                    <div class="vertical-timeline-content">
                                        <h2>字体</h2>
                                        <p>发送上年度《销售业绩报告》</p>
                                        <a href="#" class="btn btn-sm btn-success"> 下载文档 </a>
                                        <span class="vertical-date">
                                            今天 <br>
                                            <small>2月3日</small>
                                        </span>
                                    </div>
                                </div> 

                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon yellow-bg">
                                        <i class="fa fa-phone"></i>
                                    </div>

                                    <div class="vertical-timeline-content">
                                        <h2>背景音乐</h2>
                                        <p>给李四打电话分配本月工作任务</p>
                                        <span class="vertical-date">昨天 <br><small>2月2日</small></span>
                                    </div>
                                </div>

                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon lazur-bg">
                                        <i class="fa fa-user-md"></i>
                                    </div>

                                    <div class="vertical-timeline-content">
                                        <h2>备注</h2>
                                        <p>啦啦啦~~</p>
                                        <span class="vertical-date">前天 <br><small>2月1日</small></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

